Source: libpve-rs-perl
Section: perl
Priority: optional
Build-Depends: cargo:native <!nocheck>,
               debhelper-compat (= 13),
               dh-cargo (>= 25),
               librust-anyhow-1+default-dev,
               librust-base32-0.4+default-dev,
               librust-hex-0.4+default-dev,
               librust-http-1+default-dev (>= 0.2.7-~~),
               librust-libc-0.2+default-dev,
               librust-nix-0.29+default-dev,
               librust-openssl-0.10+default-dev (>= 0.10.40-~~),
               librust-perlmod-0.14+default-dev (>= 0.13.5-~~),
               librust-perlmod-0.14+exporter-dev (>= 0.13.5-~~),
               librust-proxmox-apt-0.99+cache-dev (>= 0.99.2-~~),
               librust-proxmox-apt-0.99+default-dev (>= 0.99.2-~~),
               librust-proxmox-apt-api-types-2+default-dev,
               librust-proxmox-config-digest-1+default-dev,
               librust-proxmox-frr-0.1+default-dev,
               librust-proxmox-http-1+client-sync-dev,
               librust-proxmox-http-1+client-trait-dev,
               librust-proxmox-http-1+default-dev,
               librust-proxmox-http-error-1+default-dev,
               librust-proxmox-log-1+default-dev,
               librust-proxmox-notify-1+default-dev (>= 0.5.4),
               librust-proxmox-notify-1+pve-context-dev,
               librust-proxmox-openid-1+default-dev (>= 1.0.2-~~),
               librust-proxmox-resource-scheduling-1+default-dev,
               librust-proxmox-shared-cache-1+default-dev,
               librust-proxmox-subscription-1+default-dev,
               librust-proxmox-sys-1+default-dev,
               librust-proxmox-tfa-6+api-dev,
               librust-proxmox-tfa-6+default-dev,
               librust-proxmox-time-2+default-dev,
               librust-proxmox-ve-config-0.4-dev (>= 0.4.2~~),
               librust-proxmox-ve-config+frr-dev (>= 0.4.2~~),
               librust-serde-1+default-dev,
               librust-serde-bytes-0.11+default-dev,
               librust-serde-json-1+default-dev,
               librust-tracing-0.1+default-dev (>= 0.1.37-~~),
               librust-url-2+default-dev,
               libstd-rust-dev <!nocheck>,
               perlmod-bin (>= 0.2.1-1),
               rustc:native <!nocheck>,
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/proxmox-perl-rs.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox-perl-rs.git
Homepage: https://www.proxmox.com
Rules-Requires-Root: no

Package: libpve-rs-perl
Architecture: any
Depends: ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
         libproxmox-rs-perl (>= 0.3.5),
Breaks: libpve-access-control (<< 7.1-3),
        libpve-common-perl (<< 7.1-4),
        libpve-notify-perl (<< 8.0.7),
        pve-manager (<< 7.2-8),
Description: PVE parts which have been ported to Rust - Rust source code
 This package contains the source for the Rust pve-rs crate, packaged by
 debcargo for use with cargo and dh-cargo.
